body{
    background-color: #A9AEA5;
}


.header{
    border: 2px solid #848D7D;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    background-color: #848D7D;
    border-radius: 25px;
    height: 170px;
    border: 1px solid #848D7D; 
    padding: 10px; 
    text-align: center;
    font-size: 30px;

}

.headings2{
    border: 1px solid #BEC3B9;
    padding: 5px;
    background-color: #BEC3B9;
    width: 400px;
    border-radius: 25px;
    margin-left: 250px;
    text-align: center;
    margin-top: 100px;
    height: 75px;
    margin-top: 150px ;
    font-size: 15px;
}

.headlings{
    border: 1px solid #BEC3B9;
    padding: 5px;
    background-color: #BEC3B9;
    width: 400px;
    border-radius: 25px;
    text-align: center;
    margin-left: 1200px;
    height: 75px;
    font-size: 15px;
    margin-top: -85px;
}

.qrcode{
    border: 1px solid #BEC3B9;
    padding: 5px;
    background-color: #BEC3B9;
    width: 400px;
    border-radius: 25px;
    margin-left: 1200px;
    margin-top: -364px;

}

.commands{
    border: 1px solid #BEC3B9;
    padding: 5px;
    background-color: #BEC3B9;
    width: 400px;
    border-radius: 25px;
    margin-left: 250px;
    margin-top: 50px;
}

h1, p {color: #fff;}

a {
  text-decoration: none;
}

.links{
    border: 1px solid #BEC3B9;
    padding: 5px;
    background-color: #BEC3B9;
    border-radius: 25px;
    width: 300px;
    margin-left: 1250px;
    margin-top: 10px;
    word-spacing: 30px
}

.logo{
    margin-top: -850px;
    margin-left: -1500px;
}